@media screen and (max-width: 1400px) {
    #profile {
        height: auto;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }

    .project-window {
        flex-direction: row; /* Ensure horizontal layout */
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    .project-card {
        flex: 0 0 auto; /* Prevent cards from shrinking */
        width: 80%; /* Adjust card width */
        margin-right: 1rem; /* Add margin between cards */
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: auto;
    }
    #profile {
        height: auto;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }

    .project-window {
        flex-direction: row; /* Ensure horizontal layout */
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    .project-card {
        flex: 0 0 auto; /* Prevent cards from shrinking */
        width: 80%; /* Adjust card width */
        margin-right: 1rem; /* Add margin between cards */
    }
}

@media screen and (max-width: 375px) {
    #profile {
        height: auto;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 150px;
        height: 150px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }

    #contact,
    footer {
        height: auto;
    }
    #profile {
        height: auto;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .text-container {
        text-align: justify;
    }

    .project-window {
        flex-direction: row; /* Ensure horizontal layout */
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    .project-card {
        flex: 0 0 auto; /* Prevent cards from shrinking */
        width: 80%; /* Adjust card width */
        margin-right: 1rem; /* Add margin between cards */
    }
}

@media screen and (max-width: 320px) {
    #profile {
        height: auto;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 120px;
        height: 120px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }

    #contact,
    footer {
        height: auto;
    }
    #profile {
        height: auto;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.10rem;
        text-align: left;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 0.857rem;
    }
    .title {
        font-size: 1.25rem;
    }
    .text-container {
        text-align: justify;
    }

    .project-window {
        flex-direction: row; /* Ensure horizontal layout */
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    .project-card {
        flex: 0 0 auto; /* Prevent cards from shrinking */
        width: 80%; /* Adjust card width */
        margin-right: 1rem; /* Add margin between cards */
    }
}

/* Media Queries */
@media (max-width: 768px) {

.project-img-1 {
    width: 100%; /* Make the image full width of the card */
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    object-fit: cover;
    transition: 0.4s ease; /* Smooth transition */

    flex-wrap: nowrap; /* Maintain horizontal scrolling */
        overflow-x: auto;
}
.details-container {
  width: 300px; /* Smaller width for smaller screens */
  margin: 1rem; /* Reduce margin for better spacing */
}

}

/* Align hamburger nav on the top right */
#hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}